__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

output/
archives/
teaching-materials/*
multiple-choice-question/*
open-question/*
practical-exercises/*

!teaching-materials/.gitkeep
!multiple-choice-question/.gitkeep
!open-question/.gitkeep
!practical-exercises/.gitkeep

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
